html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

}

.products__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.products__heading{
  text-align: center;
  margin: 40px 0px;
  color: #324d67;
}

.products__heading h2{
  font-size: 40px;
  font-weight: 800;
}
.products__heading p{
  font-size: 16px;
  font-weight: 200;
}

.hero-banner__container{
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9; 
  width: 100%;
}

.hero-banner__container .beats-solo{
  font-size: 20px;
}

.hero-banner__container button{
   border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
}

.hero-banner__container h3{
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner__container h1{
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}

.hero-banner__image{
  position: absolute;
  top: 0%;
  right:20%;
  width: 450px;
  height: 450px;
}

.desc{
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}

.desc p{
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}
.desc h5{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}

.product__card{
  cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
  color: #324d67;
 
 }
 .product__card:hover{
   transform: scale(1.1,1.1)
 }

 .product__image{
  border-radius: 15px;
 background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product__name{
  font-weight: 500;
}

.product__price{
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.banner__desc{
  display: flex ;
  justify-content: space-between;
}

.footer-banner__container{
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1; 
  color: white;
  width: 100%;
  margin-top: 120px;
}

.banner__desc button{
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner__desc .left h3{
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner__desc .left p{
  margin:18px;
}

.footer-banner__image{
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}

.banner__desc .right{
  line-height: 1.4;
}
.banner__desc .right h3{
  font-weight: 800;
  font-size: 60px;
}
.banner__desc .right p{
  font-size: 18px;
}
.banner__desc .right .company__desc{
  font-size: 14px;
  font-weight: 300;
}

.layout{
  padding: 10px;
}

.main__container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;  
}



/* 800px screen */
@media screen and (max-width:800px){
  .hero-banner__container{
    height: 560px;
  }

  .hero-banner__image{
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }

  .desc{
    bottom: 60px;
   }

  .footer-banner__container{
    height: 560px;
    margin-top: 80px;
  }

   .banner__desc .left h3{
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner__desc .left p{
    margin:18px;
  }
  .banner__desc .right h3{
    font-size: 45px;
  }
  .banner__desc .right p{
    font-size: 18px;
  }
  .banner__desc .right .company__desc{
    font-size: 14px;
  }
  .banner__desc{
    flex-wrap: wrap;
    gap: 20px;
  }

   .footer-banner__image{
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%
  }
  
}